[buildout]
extends = http://dist.plone.org/release/5.2.1/versions.cfg
show-picked-versions = true
extensions =
    mr.developer

parts =
    instance
    test
    code-analysis
    createcoverage
    releaser
    i18ndude
    omelette
    robot
    npm-install
    grunt-compile
develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    library.theme [test]


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/library
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
flake8-ignore = Q000,E501,C812,P001,P002,B901,E722,S001,W503
return-status-codes = False


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'library.theme', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[npm-install]
recipe = plone.recipe.command
command = cd ${buildout:directory}; npm install .; cd ${buildout:directory}/src/library/theme/theme; npm install .

[grunt-compile]
recipe = plone.recipe.command
command = cd ${buildout:directory}; grunt compile
update-command = cd ${buildout:directory}; grunt compile


[versions]
# Don't use a released version of library.theme
library.theme =

# development dependencies (tools and pre commit hook)
setuptools = 42.0.2
zc.buildout = 2.13.2

